{% extends "base.html" %}

{% block title %}Playlists{% endblock %}

{% block navitems %}
<li class="nav-item" style="list-style-type: none; display: inline; padding-right: 20px;">
    <a class="nav-link" href="{{ url_for('logout') }}" style="display: inline;">Logout</a>
</li>
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card shadow mb-4">
                <div class="card-body">
                    <h2 class="card-title text-center">Create a New Playlist</h2>
                    <form method="POST" action="">
                        {{ form.hidden_tag() }}
                        <div class="mb-3">
                            {{ form.name.label(class="form-label") }}
                            {{ form.name(class="form-control", placeholder="Enter playlist name") }}
                        </div>
                        <div class="text-center">
                            {{ form.submit(class="btn btn-primary") }}
                        </div>
                    </form>
                </div>
            </div>

            <div class="card shadow">
                <div class="card-body">
                    <h2 class="card-title text-center">Your Playlists</h2>
                    {% if playlists %}
                    <ul class="list-group list-group-flush">
                        {% for playlist in playlists %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <a href="{{ url_for('playlist', playlist_id=playlist.id) }}">{{ playlist.name }}</a>
                            <span class="badge bg-primary rounded-pill">{{ playlist.songs|length }}</span>
                        </li>
                        {% endfor %}
                    </ul>
                    {% else %}
                    <p class="text-muted text-center">You have no playlists. Create one to add Songs!</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
